<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hi.locf.feature.locf.mapper.LocfAmortizationMapper">

    <delete id="deleteAmortizationDetailsByBatchExecutionId">
        DELETE FROM LOCF_AMORTIZATION_DTL
         WHERE BATCH_EXECUTION_ID = #{batchExecutionId}
    </delete>

    <insert id="insertAmortizationDetail" parameterType="com.hi.locf.feature.locf.entity.LocfAmortizationDetail">
        <selectKey keyProperty="amortizationDtlId" resultType="long" order="BEFORE">
            SELECT SQ_LOCF_AMORTIZATION_DTL.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO LOCF_AMORTIZATION_DTL (
            AMORTIZATION_DTL_ID, BATCH_EXECUTION_ID, CONTRACT_ID, CONTRACT_NO, INSTALLMENT_NO, PAYMENT_DATE,
            OPENING_PRINCIPAL_BAL, OPENING_CARRYING_AMT, SCHEDULED_PAYMENT_AMT, SCHEDULED_PRINCIPAL_AMT,
            SCHEDULED_INTEREST_AMT, EFFECTIVE_INTEREST_REVENUE, FEE_AMORTIZATION_AMT, COST_AMORTIZATION_AMT,
            NET_AMORTIZATION_AMT, CLOSING_PRINCIPAL_BAL, CLOSING_CARRYING_AMT
        ) VALUES (
            #{amortizationDtlId}, #{batchExecutionId}, #{contractId}, #{contractNo}, #{installmentNo}, #{paymentDate},
            #{openingPrincipalBal}, #{openingCarryingAmt}, #{scheduledPaymentAmt}, #{scheduledPrincipalAmt},
            #{scheduledInterestAmt}, #{effectiveInterestRevenue}, #{feeAmortizationAmt}, #{costAmortizationAmt},
            #{netAmortizationAmt}, #{closingPrincipalBal}, #{closingCarryingAmt}
        )
    </insert>

    <delete id="deleteResultHeadersByBatchExecutionId">
        DELETE FROM LOCF_RESULT_HDR
         WHERE BATCH_EXECUTION_ID = #{batchExecutionId}
    </delete>

    <insert id="insertResultHeader" parameterType="com.hi.locf.feature.locf.entity.LocfResultHeader">
        <selectKey keyProperty="resultHdrId" resultType="long" order="BEFORE">
            SELECT SQ_LOCF_RESULT_HDR.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO LOCF_RESULT_HDR (
            RESULT_HDR_ID, BATCH_EXECUTION_ID, BASE_DATE, CONTRACT_ID, CONTRACT_NO, CUSTOMER_ID, PRODUCT_CODE,
            PRINCIPAL_AMT, INITIAL_CARRYING_AMOUNT, ANNUAL_EIR, FINAL_CARRYING_AMOUNT,
            TOTAL_EFFECTIVE_INTEREST_REV, TOTAL_FEE_AMORTIZATION_AMT, TOTAL_COST_AMORTIZATION_AMT, CREATED_AT
        ) VALUES (
            #{resultHdrId}, #{batchExecutionId}, #{baseDate}, #{contractId}, #{contractNo}, #{customerId}, #{productCode},
            #{principalAmt}, #{initialCarryingAmount}, #{annualEir}, #{finalCarryingAmount},
            #{totalEffectiveInterestRev}, #{totalFeeAmortizationAmt}, #{totalCostAmortizationAmt}, CURRENT_TIMESTAMP
        )
    </insert>

    <delete id="deleteResultSummaryByBatchExecutionId">
        DELETE FROM LOCF_RESULT_SUMMARY
         WHERE BATCH_EXECUTION_ID = #{batchExecutionId}
    </delete>

    <insert id="insertResultSummary">
        INSERT INTO LOCF_RESULT_SUMMARY (
            SUMMARY_ID, BATCH_EXECUTION_ID, BASE_DATE, PRODUCT_CODE, CONTRACT_COUNT,
            TOTAL_INITIAL_CARRYING_AMT, TOTAL_FINAL_CARRYING_AMT, TOTAL_EFFECTIVE_INTEREST_REV, CREATED_AT
        )
        SELECT SQ_LOCF_RESULT_SUMMARY.NEXTVAL,
               summary_rows.BATCH_EXECUTION_ID,
               summary_rows.BASE_DATE,
               summary_rows.PRODUCT_CODE,
               summary_rows.CONTRACT_COUNT,
               summary_rows.TOTAL_INITIAL_CARRYING_AMT,
               summary_rows.TOTAL_FINAL_CARRYING_AMT,
               summary_rows.TOTAL_EFFECTIVE_INTEREST_REV,
               CURRENT_TIMESTAMP
          FROM (
                SELECT h.BATCH_EXECUTION_ID,
                       h.BASE_DATE,
                       h.PRODUCT_CODE,
                       COUNT(*) AS CONTRACT_COUNT,
                       SUM(h.INITIAL_CARRYING_AMOUNT) AS TOTAL_INITIAL_CARRYING_AMT,
                       SUM(h.FINAL_CARRYING_AMOUNT) AS TOTAL_FINAL_CARRYING_AMT,
                       SUM(h.TOTAL_EFFECTIVE_INTEREST_REV) AS TOTAL_EFFECTIVE_INTEREST_REV
                  FROM LOCF_RESULT_HDR h
                 WHERE h.BATCH_EXECUTION_ID = #{batchExecutionId}
                 GROUP BY h.BATCH_EXECUTION_ID, h.BASE_DATE, h.PRODUCT_CODE
          ) summary_rows
    </insert>
</mapper>
